*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f5f5;
}

body nav {
    background-color: #f6f5f5;
    margin-top: 38px;
    margin-bottom: 25px;
}

.container {
    background-color: #f6f5f5;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.container section {
    width: 700px;
    margin: 10px;
    box-shadow: 0 5px 10px #3334;
}

.container section details summary {
    padding: 10px;
    background-color: #162db0;
    color: white;
    border: 1px solid black;
    position: relative;
    list-style: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.container section details p {
    font-size: 12px;
    padding: 10px;
    color: black;
    background-color: white;
}

.container section details summary::after {
    content: '+';
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 22px;
    transform: .2s linear;
    transition-duration: 0.4s;
}

.container section details[open] summary::after {
    transform: rotate(45deg);
}